# Backend Configuration
PORT=YourPort
MONGODB_URI=YourMongoURI
JWT_SECRET=YourSecretHere

# Frontend Configuration
# These must start with PUBLIC_ to be accessible in the browser
PUBLIC_BACKEND_URL=YourBackendURL
PUBLIC_WS_URL=YourWebSocketURL
FRONTEND_PORT=YourFrontPort
